<a href="https://colab.research.google.com/github/eridanletalis/gb_python_2/blob/main/hw_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Задача 2 </h2>
<p>
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе
</p>

In [33]:
# Вариант со входным словарём
def fruit_counts(fruits: dict={}) -> float:
  """
  На вход следует передавать словарь, ключами которого являются названия
  фруктов, значениями - количество. В качестве количества принимается число
  Пример входного словаря

  {'apple': 3, 'pineapple': 4, 'orange': 7}

  Словарь не должен содержать никаких других данных, кроме допустимых.
  Не проверяется соответствие ключа реальному названию фрукта. Если в 
  качестве значения будет передан тип, отличный от числа, будет выполнена 
  попытка преобразования в число, в случае неуспеха выведено предупреждение, 
  а запись проигнорирована.
  Отрицательные числа не будут учитываться в подсчёте - запись будет 
  проигнорирована с предупреждением. 
  """

  cnt: float = 0.0

  if len(fruits) == 0:
    print("Warning! Input dict is empty")
    return cnt

  for  fruit in fruits:
    # Проверим на валидность ключа
    if not isinstance(fruit, str):
      print(f"Warning! {fruit} isn't str")
      continue
    # Проверим валидность переданного значения  
    # if isinstance(fruits[fruit], int | float):
    if isinstance(fruits[fruit], int) or \
       isinstance(fruits[fruit], float):
      if fruits[fruit] < 0:  # Строго менше, т.к. ноль будет обработан нормально
        print(f'Warning! Negative number detected for {fruit} \
        ({fruits[fruit]}) ')
        continue
      cnt += fruits[fruit]

    else:
      # print(f'Trying to convert value {fruits[fruit]} to float')
      try:
        cnt += float(fruits[fruit])
      except ValueError:
        print(f'Warning! Can not convert {fruits[fruit]} to float')
        continue
      
  return cnt

In [1]:
test_1 = {'apple': 3, 'pineapple': 4, 'orange': 7}
test_2 = {'apple': 0, 'pineapple': 0, 'orange': 0}
test_3 = {'apple': 'one', 'pineapple': 'two', 'orange': '7'}
test_4 = {1: 'apple', 'pineapple': 4, 'orange': 7}
test_5 = {'apple': -1, 'pineapple': -4, 'orange': 7}
test_6 = {}

In [11]:
fruit_counts(test_1)

14.0

In [12]:
fruit_counts(test_2)

0.0

In [18]:
fruit_counts(test_3)

Warning! Can not convert one to float
Warning! Can not convert two to float

7.0

In [19]:
fruit_counts(test_4)

Warning! 1 isn't str

11.0

In [22]:
fruit_counts(test_5)

Warning! Negative number detected for apple         (-1)
Warning! Negative number detected for pineapple         (-4)

7.0

In [23]:
fruit_counts(test_6)

Warning! Input dict is empty

0.0

In [34]:
fruit_counts()

Warning! Input dict is empty

0.0

In [25]:
# Вариант с kwargs
def fruit_counts2(**fruits) -> float:
  """
  На вход следует передавать словарь, ключами которого являются названия
  фруктов, значениями - количество. В качестве количества принимается число
  Пример входного словаря

  {'apple': 3, 'pineapple': 4, 'orange': 7}

  Словарь не должен содержать никаких других данных, кроме допустимых.
  Не проверяется соответствие ключа реальному названию фрукта. Если в 
  качестве значения будет передан тип, отличный от числа, будет выполнена 
  попытка преобразования в число, в случае неуспеха выведено предупреждение, 
  а запись проигнорирована.
  Отрицательные числа не будут учитываться в подсчёте - запись будет 
  проигнорирована с предупреждением. 
  """

  cnt: float = 0.0

  if len(fruits) == 0:
    print("Warning! Input dict is empty")
    return cnt

  for  fruit in fruits:
    # Проверим на валидность ключа
    if not isinstance(fruit, str):
      print(f"Warning! {fruit} isn't str")
      continue
    # Проверим валидность переданного значения  
    # if isinstance(fruits[fruit], int | float):
    if isinstance(fruits[fruit], int) or \
       isinstance(fruits[fruit], float):
      if fruits[fruit] < 0:  # Строго менше, т.к. ноль будет обработан нормально
        print(f'Warning! Negative number detected for {fruit} \
        ({fruits[fruit]}) ')
        continue
      cnt += fruits[fruit]

    else:
      # print(f'Trying to convert value {fruits[fruit]} to float')
      try:
        cnt += float(fruits[fruit])
      except ValueError:
        print(f'Warning! Can not convert {fruits[fruit]} to float')
        continue
      
  return cnt

In [ ]:
test_1 = {'apple': 3, 'pineapple': 4, 'orange': 7}
test_2 = {'apple': 0, 'pineapple': 0, 'orange': 0}
test_3 = {'apple': 'one', 'pineapple': 'two', 'orange': '7'}
test_4 = {1: 'apple', 'pineapple': 4, 'orange': 7}
test_5 = {'apple': -1, 'pineapple': -4, 'orange': 7}
test_6 = {}

In [27]:
fruit_counts2(apple=9.4, pineapple=4, orange=1, others=5)

19.4

In [28]:
fruit_counts2(apple=0, pineapple=0, orange=0, others=0)

0.0

In [29]:
fruit_counts2(apple='9.4', pineapple='4', orange='one', others='ten')

Warning! Can not convert one to float
Warning! Can not convert ten to float

13.4

In [30]:
# Эта проверка не сможет быть запущена здесь
fruit_counts2(1=9.4, pineapple=4, orange=1, others=5)

SyntaxError: ignored

In [31]:
fruit_counts2(apple=-9.4, pineapple=-0, orange=1, others=5)

Warning! Negative number detected for apple         (-9.4)

6.0

In [36]:
fruit_counts2()

Warning! Input dict is empty

0.0

<h2> Задача 3 </h2>
<p>
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты <br />
<code>
[100, 125, -90, 345, 655, -1, 0, 200]
</code><br />
Используйте list comprehensions
</p>

In [37]:
src = [100, 125, -90, 345, 655, -1, 0, 200]

In [39]:
sum([x for x in src if x >= 0])

1425

<h2> Задача 4 </h2>
<p>
Даны два списка.
Дата покупки <br />
<code>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
</code><br />
Суммы покупок по датам <br />
<code>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
</code>
</p>
<h3>4.1 Найдите, какая выручка у компании в ноябре</h3>
<p>
Используйте list comprehensions
</p>
<h3>4.2 Найдите выручку компании в зависимости от месяца</h3>
<p>
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.
</p>

In [59]:
src_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', 
            '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
            '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
            '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
            '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
            '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
            '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
            '2021-10-26', '2021-12-09']
src_amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 
              651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 
              3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [45]:
assert len(src_date) == len(src_amount)

In [47]:
# Выполняем 4.1, исходя из предположения, что формат даты всегда: 
# yyyy-mm-dd

'2021-09-14'.split('-')[1]

'09'

In [50]:
sum([
    am for i, am in enumerate(src_amount) 
    if src_date[i].split('-')[1] == '11'
])

25098

In [94]:
# Выполняем 4.2
import re  # Только для проверки соответствия формата даты

date_pattern = r"(19|20)\d\d([- /.])(0[1-9]|1[012])\2(0[1-9]|[12][0-9]|3[01])"

def calc(dates: list, amounts: list) -> dict:
  """
  Функция принимает на вход два списка: список дат, каждый элемент списка
  должен быть строкой формата "YYYY-MM-DD" и список чисел.
  Списки должны иметь одинаковую длину.
  В случае, если были переданы отличные от требуемых форматов данные, 
  будет выведено исключение TypeError. В случае, если длины списков не равны,
  будет выведена ошибка.

  Будет выполнена проверка формата входных данных. В случае, если формат 
  не будет соблюдён, будет выведена ошибка.

  Пример входа
  calc(
      dates=['2001-01-01', '2001-02-01'],
      amounts=[2133, 6326])

  Условились, что даты должны иметь один и тот же год.
  """
  
  # Проверка типа входных данных
  if not isinstance(dates, list):
    raise TypeError('Only list for dates')
  if not isinstance(dates, list):
    raise TypeError('Only list for amounts')
  # Проверка длины входных данных
  if len(dates) != len(amounts):
    # raise Exception('Length of dates and amounts is not equals')
    return {'message':'Error in src lengthes'}

  # Проверка типа вложенных данных для списка дат
  if len(re.findall(date_pattern, ' '.join(dates))) != len(dates):
    # raise Exception('Error in input data (dates)')
    return {'message':'Error in dates'}
  # Проверка типа вложенных данных для списка сумм
  try:
    amounts = [float(x) for x in amounts]
  except ValueError:
    print('Error in input data (amounts)')
    return {'message':'Error in amounts'}
  
  res = dict()

  for i, amount in enumerate(amounts):
    month: str = dates[i].split('-')[1] 
    if month in res:
      res[month] += amount
    else:
      res[month] = amount
    
  return res

In [76]:
calc(dates=src_date, amounts=src_amount)

{'09': 25647.0, '12': 45452.0, '10': 28645.0, '11': 25098.0}

In [90]:
# Ошибка формата
calc(dates=['2021-19-44', '2021-12-15', '2021-09-08'], amounts=[1,2,3])

{'message': 'Error in dates'}

In [91]:
# Несоответствие формата сумм
calc(dates=['2021-12-14', '2021-12-15', '2021-09-08'], amounts=['one',2,3])

Error in input data (amounts)

{'message': 'Error in amounts'}

In [92]:
# Несоответствие формата сумм исправляемое
calc(dates=['2021-12-14', '2021-12-15', '2021-09-08'], amounts=['12',2,3])

{'12': 14.0, '09': 3.0}

In [95]:
# Несоответствие длин
calc(dates=['2021-12-14', '2021-12-15', '2021-09-08'], amounts=[2,3])

{'message': 'Error in src lengthes'}